.clearfix:after {
    content: "";
    font-size: 0px;
    visibility: hidden;
    
    clear: both;
    display: block;
    float: none;
    height: 1px;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.full {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}