/**
 * Welcome there, traveler
 * 
 * @author volter9
 * @package volter9.github.io - my website
 */
/** Essentials */
/**
 * General important rules
 */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body
{
    font-family: sans-serif;

    height: 100%;

    -webkit-text-size-adjust: 100%;
}
.wrapper
{
    max-width: 1200px;
    margin: 0 auto;
}
/**
 * Typography
 */
.notice
{
    font-size: 14px;

    margin-top: -6px;
    margin-bottom: 1.5em;

    color: #888;
}
abbr
{
    cursor: help;

    border-bottom: 1px dotted #aaa;
}
a
{
    text-decoration: none;

    color: #237fcf;
    border-bottom: 1px solid rgba(35, 127, 207, .2);
}
a:hover
{
    border-bottom: 1px solid rgba(35, 127, 207, .5);
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: normal;

    margin-top: 1.5em;
    margin-bottom: .5em;
}
h1
{
    font-size: 32px;
}
h2
{
    font-size: 28px;
}
h3
{
    font-size: 22px;
}
h4
{
    font-size: 18px;
}
h5
{
    text-transform: capitalize;
}
p,
blockquote,
ul,
ol,
pre,
iframe,
hr
{
    font-size: 14px;
    line-height: 150%;

    margin-bottom: 1em;
}
p
{
    font-size: 16px;
}
p code,
li code,
blockquote code
{
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 80%;
    line-height: 1;

    display: inline-block;

    padding: 3px 6px 2px 6px;

    border: 1px solid #d4d4d4;
    border-radius: 2px;
    background: #f4f4f4;
}
blockquote
{
    color: #888;
}
blockquote p
{
    font-size: 14px;
}
blockquote > *
{
    margin-top: 0;
    margin-bottom: .5em;
}
ul,
ol,
blockquote
{
    margin-left: 1.5em;
}
ul,
ol
{
    list-style: none;
}
ul li,
ol li
{
    margin-bottom: 6px;
}
hr
{
    border: 0;
    border-bottom: 1px solid #d8d8d8;
}
/**
 * Essential styles
 */
.clearfix:after
{
    font-size: 0;

    display: block;
    visibility: hidden;
    float: none;
    clear: both;

    width: 100%;
    height: 1px;

    content: '';
}
.left
{
    float: left;
}
.right
{
    float: right;
}
.full-padding > *,
.fluid
{
    max-width: 800px;
    padding-right: 16px;
    padding-left: 32px;
}
.wrapper
{
    position: relative;
    top: 0;
    left: 0;

    min-height: 100%;
    padding-bottom: 5em;
}
.adaptive
{
    margin-left: 32px;
}
.content
{
    overflow: hidden;

    padding-top: 1px;
}
.full
{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}
@media (max-width: 800px)
{
    .full-padding > *,
    .fluid
    {
        width: 100%;
        max-width: 100%;
        padding-left: 16px;
    }
    .adaptive
    {
        margin-left: 16px;
    }
    .full
    {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }
}
/** Blocks */
/**
 * Navigation
 */
.navigation
{
    margin-bottom: 32px;
    padding-left: 20px;
}
.navigation .links
{
    margin: 0;

    list-style: none;
}
.navigation li
{
    margin: 0;
}
.navigation a
{
    font-size: 14px;

    display: block;

    padding: 8px 12px;

    text-decoration: none;

    color: #28d;
    border-bottom: 0;
}
.navigation a:hover
{
    text-decoration: underline;
}
.navigation .current
{
    font-weight: bold;

    color: #000;
}
.navigation .current:hover
{
    text-decoration: none;
}
.navigation-white a
{
    color: #fff;
}
.navigation-white .current,
.navigation-white a:hover
{
    padding-top: 6px;

    text-decoration: none;

    color: #fff;
}
.navigation-white .current
{
    border-top: 2px solid #fff;
}
.navigation-white a:hover
{
    border-top: 2px solid rgba(255, 255, 255, .5);
}
.navigation-shadow a,
.text-shadow
{
    text-shadow: 0 0 10px #000;
}
@media (max-width: 800px)
{
    .navigation
    {
        padding-left: 4px;
    }
    .navigation li a
    {
        font-size: 14px;
    }
}
/** 
 * EPIC HEADER 
 */
.epic-header
{
    overflow: hidden;

    margin-bottom: 1em;
}
.epic-header-title
{
    font-size: 48px;
    font-weight: 100;

    margin-top: 1em;
    margin-bottom: .5em;

    color: #fff;
}
/**
 * Footer
 */
.footer
{
    position: absolute;
    bottom: 0;
    left: 0;

    padding-bottom: 24px;

    color: #999;
}
.footer-menu
{
    margin: 0;

    list-style: none;
}
.footer-menu li
{
    float: left;

    margin-right: 8px;
}
/** 
 * Blog styles
 */
.blog
{
    margin-bottom: 1em;
}
.blog h1
{
    margin-top: 1em;
}
.post-title
{
    font-size: 32px;

    margin-top: 0;
}
/**
 * Blog posts
 */
.posts,
.links
{
    margin: 0;
}
.post
{
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}
.likely .likely__widget:first-child
{
    margin-left: -3px;
}
.likely-small .likely__widget:first-child
{
    margin-left: -2px !important;
}
.post pre
{
    font-family: Menlo, Monaco, monospace;
    font-size: 14px;

    overflow: hidden;
    overflow-x: auto;

    width: 100%;
    max-width: 100%;
    padding: 0;

    background-color: #f4f4f4;
}
.post pre code
{
    font-family: inherit;
    font-size: inherit;

    display: block;

    padding: 16px;
    padding-left: 32px;

    background: transparent;
}
.post hr
{
    max-width: 100%;
}
.post-details
{
    font-size: 12px;

    margin-top: 12px;
    margin-left: 0;
}
.post-details li
{
    display: inline-block;

    margin-right: .5em;
}
.post-date
{
    color: #888;
}
.post-category
{
    padding: 3px 6px;

    border-radius: 3px;
    background-color: #eee;
}
.post-tag
{
    margin-right: 6px;

    color: #666;
}
/** 
 * Custom category styles 
 */
.post-javascript-category,
.post-dogescript-category
{
    background-color: #f7e06e;
}
.post-php-category
{
    color: #fff;
    background-color: #6178bd;
}
.post-comments
{
    margin-top: 2em;
    margin-bottom: 2em;
}
@media (max-width: 800px)
{
    .post
    {
        padding-left: 0;
    }
    .post pre code
    {
        padding-left: 16px;
    }
}
/**
 * Projects styles
 */
.project h2
{
    margin-top: 0;
}
.project-title,
.project-about
{
    color: #fff;
}
.project-title a
{
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.project-title a:hover
{
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .6);
}
.project-title
{
    font-size: 18px;
}
.project-about
{
    font-size: 12px;

    margin-bottom: 3em;
}
.project-image
{
    width: 100%;
    max-width: 100%;
    padding: 32px;

    background-repeat: no-repeat;
    background-position: left center;
}
@media (max-width: 800px)
{
    .project-image
    {
        padding: 32px 16px;
    }
}
/**
 * About me section
 */
.about-me-text
{
    width: 73%;
}
.about-me-text h2
{
    margin-top: 0;
}
.about-me-text p:last-child
{
    margin: 0;
}
.about-me-avatar
{
    width: 180px;
    height: 180px;
    margin-right: 16px;

    border-radius: 8px;
    background-image: url('../img/avatar_medium.png');
    background-position: center -12px;
}
@media (max-width: 800px)
{
    .about-me
    {
        margin-top: -16px;
    }
    .about-me-text
    {
        width: 100%;
    }
    .about-me-avatar
    {
        float: none;

        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 1.5em;
    }
}
/** Components */
/**
 * Spoiler styles
 */
.spoiler
{
    position: relative;
    top: 0;
    left: 0;

    overflow: hidden;
    overflow-x: auto;

    width: 100%;
    max-width: 100%;
    margin-bottom: 1em;
    padding: 0;
}
.spoiler pre
{
    margin-bottom: 0;
}
.spoiler-toggle
{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;

    width: 24px;
    padding-top: 4px;

    cursor: pointer;
    text-align: center;

    background-color: rgba(0, 0, 0, .025);
}
.spoiler-toggle:hover,
.spoiler-toggle.spoiler-open
{
    background-color: rgba(0, 0, 0, .075);
}
.spoiler-toggle.spoiler-open:hover
{
    background-color: rgba(0, 0, 0, .1);
}
.spoiler-close
{
    max-height: 112px;
}
.spoiler-close.spoiler-big
{
    max-height: 218px;
}
.spoiler-close:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 44px;

    content: '';

    background: linear-gradient(0deg, rgba(0, 0, 0, .08), rgba(0, 0, 0, 0) 30%);
}
.spoiler-icon
{
    font-size: 18px;

    display: inline-block;

    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);

    color: rgba(0, 0, 0, .5);
}
.spoiler-open .spoiler-icon
{
    margin-right: 3px;

    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
@media (max-width: 800px)
{
    .spoiler
    {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }
}
/** 
 * Tabs 
 */
.tabs-container
{
    position: relative;

    margin-bottom: 1em;
}
.tabs-container pre
{
    margin-bottom: 0;
}
.tabs-container pre code
{
    padding-left: 16px;
}
.tab
{
    font-size: 12px;

    margin: 0;
    padding: 6px 32px;

    color: #444;
}
.tab-active
{
    font-weight: bold;

    padding: 6px 30px;

    border-left: 2px solid #ccc;
}
.tabs
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 200px;
    margin: 0;
    margin-bottom: -1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;

    border-right: 1px solid #eee;
    background: #fafafa;
}
.tabs ~ *
{
    padding-left: 200px;
}
.tabs .tab:hover,
.tabs .tab-active
{
    cursor: pointer;

    background-color: #eee;
}
@media (max-width: 800px)
{
    .tabs ~ *
    {
        padding-left: 0;
    }
    .tabs
    {
        position: static;

        width: 100%;

        border: 0;
    }
    .tab
    {
        padding: 6px 16px;
    }
    .tab-active
    {
        padding: 6px 14px;
    }
}
.likely-separated > .likely
{
    display: block;

    margin-bottom: 14px;
}
.likely-separated .likely:last-child,
.likely-separated .likely:last-child > *
{
    margin-bottom: 0;
}
