@import 'essential.css';

/**
 * Welcome there, traveler
 * 
 * @author volter9
 * @package volter9.github.io - my website
 */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    
    height: 100%;
}

a {
    color: rgb(35, 127, 207);
    border-bottom: 1px solid rgba(35, 127, 207, 0.2);
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid rgba(35, 127, 207, 0.5);
}

.wrapper {
    position: relative;
    top: 0px;
    left: 0px;
    
    min-height: 100%;
    padding-bottom: 5em;
}

.wrapper > *,
.post > *,
.full-padding > *,
.fluid {
    padding-left: 32px;
    padding-right: 16px;
    max-width: 800px;
}

.full {
    margin-left: 0px;
    margin-right:0px;
    padding: 0px;
}

/**
 * Navigation
 */

#navigation {
    margin-bottom: 32px;
    padding-left: 24px;
}

#navigation .links {
    list-style: none;
    
    margin: 0px;
}

#navigation .separator {
    margin-right: 2em;
}

#navigation a {
    border-bottom: 0px;
    color: #28d;
    font-size: 14px;
    text-decoration: none;
    
    display: block;
    padding: 8px;
}

#navigation a:hover {
    text-decoration: underline;
}

#navigation .current {
    color: #000;
    font-weight: bold;
}

#navigation .current:hover {
    text-decoration: none;
}

/**
 * Content 
 */

.post-title {
    font-size: 32px;
    
    margin-top: 0px;
}

.post-date {
    color: #aaa;
    font-size: 14px;
}

/**
 * Typography
 */

abbr {
    border-bottom: 1px dotted #aaa;
    cursor: help;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    
    margin-top: 2em;
    margin-bottom: 0.5em;
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }

p,
blockquote,
ul,
ol,
pre {
    font-size: 14px;
    line-height: 150%;
    
    margin-bottom: 1em;
}

p {
    font-size: 16px;
}

p code {
    font-size: 80%;
    font-style: normal;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 3px 6px 2px 6px;
    display: inline-block;
    line-height: 1;
    border-radius: 2px;
    background: #f4f4f4;
    border: 1px solid #d4d4d4;
}

blockquote {
    color: #888;   
}

ul,
ol,
blockquote {
    margin-left: 1.5em;
}

ul,
ol {
    list-style: none;
}

ul li,
ol li {
    margin-bottom: 4px;
}

.post pre {
    background-color: #f4f4f4;
    font-family: Menlo, Monaco, monospace;
    font-size: 14px;
    overflow: hidden;
    overflow-x: auto;
    
    max-width: 100%;
    padding: 0px;
    width: 100%;
}

.post pre code {
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    
    padding: 16px;
    padding-left: 32px;
}

/**
 * Posts
 */

.posts {
    margin: 0px;
}

.post {
    width: 100%;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

/**
 * Projects
 */

.project h2 {
    margin-top: 0px;
}

.projects .project {
    margin-bottom: 24px;
}

.projects .project .title,
.projects .project .about {
    padding-left: 32px;
}

.projects .project .title {
    font-size: 18px;
    font-weight: bold;
}

.projects .project .title a {
    padding-bottom: 1px;
}

.project .about {
    font-size: 12px;
}

.project .image {
    background-repeat: no-repeat;
    background-position: left center;
    box-shadow: 0px 2px 2px #ddd;
    
    height: 320px;
    margin-bottom: 10px;
    width: 100%;
}

.avatar {
    background-image: url('../img/avatar_medium.png');
    background-position: center -12px;
    border-radius: 8px;
    
    height: 180px;
    margin-top: 1em;
    margin-right: 16px;
    width: 180px;
}

.about-me {
    border: 1px solid #e7e7e7;
    border-right: 0px;
    border-left: 0px;
    
    margin-top: -32px;
    margin-bottom: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.about-me-text {
    padding-top: 10px;
    width: 73%;
}

.about-me-text h2 {
    margin-top: 0px;
}

.about-me-text p:last-child {
    margin: 0px;
}

/**
 * Footer
 */

#footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    
    padding-bottom: 24px;
}

#footer p {
    color: #aaa;
    font-size: 14px;
}

@media (max-width: 800px) {
    .wrapper > *,
    .post > *,
    .full-padding > *,
    .fluid {
        max-width: 100%;
        width: 100%;
        padding-left: 16px;
    }
    
    .avatar {
        float: none;
        margin: 0px auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    .about-me-text {
        width: 100%;
    }
    
    .full {
        margin-left: 0px;
        margin-right:0px;
        padding: 0px;
    }
    
    .post {
        padding-left: 0px;
    }
    
    #navigation {
        padding-left: 8px;
    }
    
    .projects .project .title,
    .projects .project .about {
        padding-left: 16px;
    }
}