@import 'essential.css';

/**
 * Welcome there, traveler
 * 
 * @author volter9
 * @package volter9.github.io - my website
 */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    
    height: 100%;
}

a {
    color: rgb(35, 127, 207);
    border-bottom: 1px solid rgba(35, 127, 207, 0.2);
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid rgba(35, 127, 207, 0.5);
}

.adaptive {
    margin-left: 32px;
}

.wrapper {
    position: relative;
    top: 0px;
    left: 0px;
    
    min-height: 100%;
    padding-bottom: 5em;
}

.full-padding > *,
.fluid {
    padding-left: 32px;
    padding-right: 16px;
    max-width: 800px;
}

.full {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    padding: 0px;
    width: 100%;
}

.blog {
    margin-bottom: 3em;
}

.blog h1 {
    margin-top: 1em;
}

/**
 * Navigation
 */

.navigation {
    margin-bottom: 32px;
    padding-left: 20px;
}

.navigation .links {
    list-style: none;
    
    margin: 0px;
}

.navigation li {
    margin: 0px;
}

.navigation a {
    border-bottom: 0px;
    color: #28d;
    font-size: 14px;
    text-decoration: none;
    
    display: block;
    padding: 8px 12px;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation .current {
    color: #000;
    font-weight: bold;
}

.navigation .current:hover {
    text-decoration: none;
}

.navigation-white a {
    color: #fff;
}

.navigation-white .current,
.navigation-white a:hover {
    color: #fff;
    text-decoration: none;
    
    padding-top: 6px;
}

.navigation-white .current {
    border-top: 2px solid #fff;
}

.navigation-white a:hover {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
}

/**
 * Content 
 */

.post-title {
    font-size: 32px;
    
    margin-top: 0px;
}

.post-details {
    font-size: 12px;
    
    margin-left: 0px;
}

.post-details li {
    display: inline-block;
    margin-right: 1em;
}

.post-date {
    color: #888;
}

.post-category {
    background-color: #eee;
    border-radius: 4px;
    
    padding: 4px 8px;
}

.post-tag {
    color: #666;
    
    margin-right: 6px;
}

/** Custom category styles */
.post-javascript-category {
    background-color: hsl(50, 90%, 70%);
}

.post-php-category {
    background-color: hsl(225, 41%, 56%);
    color: #fff;
}

/**
 * Typography
 */

.notice {
    color: #888;
    font-size: 14px;
    
    margin-top: -6px;
    margin-bottom: 1.5em;
}

abbr {
    border-bottom: 1px dotted #aaa;
    cursor: help;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    
    margin-top: 2em;
    margin-bottom: 0.5em;
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }

p,
blockquote,
ul,
ol,
pre {
    font-size: 14px;
    line-height: 150%;
    
    margin-bottom: 1em;
}

p {
    font-size: 16px;
}

p code {
    background: #f4f4f4;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 80%;
    line-height: 1;
    
    display: inline-block;
    padding: 3px 6px 2px 6px;
}

blockquote {
    color: #888;
}

blockquote p {
    font-size: 14px;
}

blockquote > * {
    margin-top: 0px;
    margin-bottom: 0.5em;
}

ul,
ol,
blockquote {
    margin-left: 1.5em;
}

ul,
ol {
    list-style: none;
}

ul li,
ol li {
    margin-bottom: 4px;
}

.post pre {
    background-color: #f4f4f4;
    font-family: Menlo, Monaco, monospace;
    font-size: 14px;
    overflow: hidden;
    overflow-x: auto;
    
    max-width: 100%;
    padding: 0px;
    width: 100%;
}

.post pre code {
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    
    display: block;
    padding: 16px;
    padding-left: 32px;
}

/**
 * Spoiler
 */

.spoiler {
    overflow: hidden;
    overflow-x: auto;
    
    max-width: 100%;
    padding: 0px;
    width: 100%;
}

.spoiler pre {
    margin-bottom: 0px;
}

.spoiler {
    overflow: hidden;
    
    position: relative;
    top: 0px;
    left: 0px;
    
    margin-bottom: 1em;
}

.spoiler-toggle {
    background-color: rgba(0, 0, 0, 0.025);
    cursor: pointer;
    text-align: center;
    
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    
    padding-top: 4px;
    width: 24px;
}

.spoiler-toggle:hover,
.spoiler-toggle.spoiler-open {
    background-color: rgba(0, 0, 0, 0.075);
}

.spoiler-toggle.spoiler-open:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.spoiler-close {
    max-height: 112px;
}

.spoiler-close.spoiler-big {
    max-height: 218px;
}

.spoiler-close:after {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0) 30%);
    content: '';
    
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    height: 44px;
}

.spoiler-icon {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    
    display:inline-block;
}

.spoiler-open .spoiler-icon {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    
    margin-right: 3px;
}

/**
 * Posts
 */

.posts {
    margin: 0px;
}

.post {
    width: 100%;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

/**
 * Projects
 */

.projects h1 {
    margin-top: 0px;
}

.project {
    margin-bottom: 24px;
}

.project h2 {
    margin-top: 0px;
}

.project-title,
.project-about {
    padding-left: 32px;
}

.project-title {
    font-size: 18px;
    font-weight: bold;
}

.project-title a {
    padding-bottom: 1px;
}

.project-about {
    font-size: 12px;
}

.project-image {
    background-repeat: no-repeat;
    background-position: left center;
    box-shadow: 0px 2px 2px #ddd;
    
    height: 320px;
    margin-bottom: 10px;
    max-width: 100%;
    padding: 0px;
    width: 100%;
}

/**
 * About me section
 */

.avatar {
    background-image: url('../img/avatar_medium.png');
    background-position: center -12px;
    border-radius: 8px;
    
    height: 180px;
    margin-top: 1em;
    margin-right: 16px;
    width: 180px;
}

.about-me {
    border-bottom: 1px solid #e7e7e7;
    
    margin-top: -32px;
    margin-bottom: 3.5em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.about-me-text {
    margin-bottom: 1em;
    padding-top: 10px;
    width: 73%;
}

.about-me-text h2 {
    margin-top: 0px;
}

.about-me-text p:last-child {
    margin: 0px;
}

/**
 * Footer
 */

#footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    
    padding-bottom: 24px;
}

#footer p {
    color: #aaa;
    font-size: 14px;
}

/** EPIC HEADER */

.epic-header {
    overflow: hidden;
    
    margin-bottom: 1em;
}

.epic-header-title {
    color: #fff;
    font-size: 48px;
    font-weight: 100;
    
    margin-top: 1em;
}

/** Tabs */
.tabs-container {
    margin-bottom: 1em;
}

.tabs-container pre {
    margin-bottom: 0px;
}

.tabs {
    background: #e4e4e4;
    
    margin: 0px;
    margin-bottom: -1px;
}

.tabs .tab {
    float: left;
}

.tab {
    background-color: #eaeaea;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: #444;
    font-size: 14px;
    
    margin: 0px;
    padding: 6px 32px;
}

.tab-active {
    border-bottom: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    color: #222;
    font-weight: bold;
}

.tabs .tab:hover {
    background-color: #eee;
    cursor: pointer;
}

.tabs .tab-active:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

/**
 * Mobile support
 */

@media (max-width: 800px) {
    .full-padding > *,
    .fluid {
        max-width: 100%;
        width: 100%;
        padding-left: 16px;
    }
    
    .adaptive {
        margin-left: 16px;
    }
    
    .about-me {
        margin-top: -16px;
    }
    
    .about-me-text {
        width: 100%;
    }
    
    .avatar {
        float: none;
        margin: 0px auto;
        margin-top: 1em;
        margin-bottom: 1.5em;
    }
    
    .full,
    .spoiler {
        margin-left: 0px;
        margin-right:0px;
        padding: 0px;
    }
    
    .post {
        padding-left: 0px;
    }
    
    .navigation {
        padding-left: 8px;
    }
    
    .navigation li a {
        font-size: 14px;
        padding: 8px 6px;
    }
    
    .project-title,
    .project-about {
        padding-left: 16px;
    }
}